@font-face { font-family: 'Brush Hand New'; src: url('font/BrushHandNew.ttf'); }

#overboot body{
    font-family: Intra, Helvetica, Arial, sans-serif;
    line-height: 0rem;
    background-color: #81e6ff;
}

#overboot .jumbotron{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    background-color: transparent;
}

#overboot .jumbotron-welcome{
    font-family: 'Brush Hand New';
    font-size: min(20vw, 6rem);
    color: #7200b4;
}

#overboot .stick-man{
    width: 70%;
    height: auto;
}

/*WTF is with Bootstrap using !important so everyone has to override everything with !important until the !important becomes meaningless?*/
#overboot .navbar, #overboot .navbar-light, #overboot .navbar-brand, #overboot navbar-nav, #overboot a.nav-link {
    background-color: black !important;
    color: white !important;
}

#overboot .navbar-light .navbar-toggler-icon {
    background-image: url('hamburger.svg');
}
#overboot button.navbar-toggler, #overboot .collapse, #overboot .show {
    outline: none;
}

.nannos-stick-man{
    background-size: 100% 100%;
    background-image: url("/img/nannos-stick-man.svg"); 
    height: min(50vw, 18rem);
}
#overboot .form-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 1rem;
    align-content: flex-start;
    max-width: 40rem;
}

#overboot .form-row{
    display: flex;
    flex-direction: row;
    width: 100%;
}
#overboot .label-and-input{
    display: column;
    flex-direction: row;
    flex-basis: 0;
    flex-grow: 1;
}

#overboot .form-container label{
    text-align: left;
    font-size: 0.7rem;
    margin-bottom: 0;
    width: 100%
}

#overboot .form-container label, #overboot .form-container input, #overboot .form-container select{
    width: 100%;
}

#overboot .form-container select{
    height: 1.9rem;
}

#overboot .code{
    min-width: 5rem;
}

#overboot .name{
    min-width: 10rem;
}

#overboot .city{
    min-width: 10rem;
}

#overboot .state{
    min-width: 3rem;
}

#overboot .zip{
    min-width: 5rem;
}

#overboot .phone{
    min-width: 12rem;
}